
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #3e2723;
    background-color: #fff8f0;
}
h1, h2, h3{
     font-family: "playfair Display", serif;
}
nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#3e2723 ,#dcd5d5);

}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color:rgb(35, 4, 4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
nav ul {
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}
nav li a{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 30px;
    color: rgb(10, 2, 2);
    text-decoration: none;
}
nav li a:hover{
    color: #ff6f00;
    transition: all 0.4s ease 0s;
}
nav .active{
    color: #ffca28;
}
 


header
{
    background: #4e342e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}



/*Hero section*/
.hero{

    height: 100vh;
    background: url(image11/caffeine-coffee-coffee-beans-585750.jpg) center /cover no-repeat;
    position: relative;
    

}
.hero-overlay{
    background: rgba(115, 100, 100, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}
.hero-text span{
    color: #ffca28;
    font-weight: bold;
}
.hero-text P {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero-text samp {
    color: #ffca28;
    font-weight: bold;

}
.btn {
    display: inline-block;
    padding: 10px 25px;
    background: #ffca28;
    color: #3e2723;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #ffca28;
    transform: translateY(-3px);
}
/*section menu*/

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #4e342e;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.menu-item {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

}
.menu-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item:hover {
    transform: scale(1.05);

}
.menu-item span {
    color: #ff6f00;
    font-weight: bold;
}

#menu {
    margin-bottom: 30px;
}

/*About*/
.about {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    align-items: center;
}
.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.about-text a {
    text-align: center;
}

.about-img {
    flex: 1;
}
.about-img img {
    width: 100%;
    border-radius: 10px;
}

.secondary-btn {
    background: transparent;
    border: 2px solid #ffca28;
    color: #ffca28;

}
.secondary-btn:hover {
    background: #ffca28;
    color: #3e2723;
}
#about {
    margin-bottom: 20px;
}

/* Offers */
 .offers {
    background: #ffe0b2;
    padding: 50px 0;
 }

 .offers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax (250px, 1fr));
    gap: 20px;
 }

 .offer-card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
 }
 .offers h3 {
    color: #bb601a;
 }

 .offer-card:hover {
    cursor: pointer;
    transform: translateY(5px);
 }

 /* testimonials*/

 .testimonials {
    padding: 50px 0;
 }

 .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
 }

 .testimonial {
    background: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
 }

.contact {
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h1{
    font-size: 36px;
    margin-bottom: 40px;
}
.Contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.Contact-form{
    text-align: left;
}
.Contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;

}
.form-group{
    margin-bottom: 20px;
}
input,textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px ;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #f76e0d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: #bb601a;
}

.Contact-info{
    text-align: left;
}
.Contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.Contact-info p{
    margin-bottom: 10px;
}

 /* footer */

 footer {
    background: #4e342e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
 }
 .social-links img {
    height: 25px;
    margin: 10px 5px;
    transition: tramsform 0.3s;

 }
 .social-links img:hover {
transform: scale(1.2);
 }
 /* Respinsive */
 
 @media (max-width:768px) {
    .about {
        flex-direction: column;
    }
    .hero-text h1{
        font-size: 2rem;
        margin-bottom: 10p;
    }
 }

 
